@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Mulish, sans-serif;
}

body {
  overflow-x: hidden;
}

.root {
  box-sizing: border-box;
  overflow: hidden;
}

/*  */
/***** NAVIGATION *****/
/*  */

.navbar {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 0 8%;
}

.logo {
  color: white;
  background: #458ff6;

  width: 40px;
  height: 40px;
  margin-right: 10px;

  border-radius: 50%;

  font-size: 26px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #1f1534;
  font-size: 18px;
}

nav ul li a:hover {
  color: #458ff6;
}

/***** NAVIGATION *****/

/*  */
/***** MAIN SECTION *****/
/*  */

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  padding: 0 8%;
}

.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.col-1 h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

.col-1 p {
  font-size: 21px;
  color: grey;
  font-weight: 100;
  margin-bottom: 50px;
}

button {
  width: 175px;
  height: 56px;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 18px;
  background: #458ff6;
  border-radius: 55px;
  cursor: pointer;
  transition: width 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  width: 200px;
}

.col-2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.col-2 .main-img {
  width: 90%;
  margin-left: 50px;
  margin-bottom: 20px;
}

/***** MAIN SECTION *****/

/*  */
/***** SERVICE SECTION *****/
/*  */

.services {
  background-image: url("/css/bg-img.png");
  background-repeat: no-repeat;
  background-position-y: 200px;
}

.service-des {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 15px 250px;
}

.service-des h2 {
  font-size: 36px;
}

.service-des hr {
  width: 50px;
  height: 2px;
  margin: 30px auto;
  background-color: black;
}

.service-des p {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 50px auto;
  padding: 0 8%;
}

.service-item {
  background-color: white;
  max-width: 350px;
  max-height: 350px;

  width: 350px;
  height: 350px;

  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

  margin: 10px 10px;
  padding: 30px;

  flex-basis: 25%;
}

.item-img {
  height: 125px;
  margin: 50px 0 10px 0;
}

.item-desc h3 {
  margin-bottom: 15px;
  font-size: 24px;
}

.item-desc p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;

  color: #7d7987;
}

.btn-services {
  border: 2px solid #458ff6;
  color: #458ff6;
  background: white;
  margin: 50px auto;
}

/***** SERVICE SECTION *****/

/*  */
/***** PROVIDERS SECTION *****/
/*  */

.provider .col-1 {
  order: 2;
}

.col-2 .provider-img {
  width: 90%;
  margin-right: 50px;
  margin-bottom: 20px;
}

.provider hr {
  width: 50px;
  height: 2px;
  margin: 30px 0;
  background-color: black;
}

.provider h2 {
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 30px;
}

.provider p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: grey;
  margin-bottom: -5px;
}

/***** PROVIDERS SECTION *****/

/*  */
/***** APP SECTION *****/
/*  */

.app hr {
  width: 50px;
  height: 2px;
  margin: 30px 0;
  background-color: black;
}

.app h2 {
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 30px;
}

.app p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: grey;
  margin-bottom: -5px;
}

.app-btn {
  display: flex;
  align-items: center;

  margin: 0 auto;
}

.app-btn img {
  height: 15px;
  padding: 0 10px;
}

.app {
  margin-bottom: 200px;
}

/*  */
/***** CUSTOMER SECTION *****/
/*  */

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 1120px;
  height: 425px;
  margin: 0 auto;
  margin-bottom: 200px;

  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}

.customer-head h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;

  color: #ffffff;
}

.customer-head hr {
  width: 50px;
  height: 2px;
  margin: 30px auto;
  background-color: white;
}

.customer-review {
  display: flex;
  align-items: center;

  margin: 10px 200px;
}

.reviewer-img img {
  border-radius: 50%;
  border: 4px white solid;

  width: 150px;

  margin: 0 15px;
}

.reviewer-info {
  width: 600px;

  margin: 0 15px;

  color: white;
}

.reviewer-info h3 {
  font-weight: bold;
  font-size: 22px;

  padding-bottom: 10px;
}

.reviewer-info h4 {
  font-weight: normal;
  font-size: 18px;
}

.review-content {
  color: white;

  font-weight: normal;
  font-size: 19px;
  line-height: 30px;

  margin: 0 15px;
}

/*  */
/***** ARTICLE SECTION *****/
/*  */

.articles {
  background-image: url("/css/bg-img-2.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 100px;
}

.article-list {
  display: flex;
  justify-content: center;

  margin: 50px auto;
  padding: 0 8%;
}

.article-item {
  background-color: white;
  max-width: 350px;
  max-height: 512px;

  width: 350px;
  height: 512px;

  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

  margin: 10px 10px 50px 10px;

  flex-basis: 5%;
}

.article-img img {
  margin-bottom: 20px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.article-des h2 {
  text-align: center;

  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
}

.article-des hr {
  width: 50px;
  height: 2px;
  margin: 30px auto;
  background-color: black;
}

.article-desc {
  padding: 0 30px;
}

.article-desc h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;

  margin-bottom: 20px;
}

.article-desc p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;

  color: #7d7987;
  width: 266px;
  margin-bottom: 20px;
}

.btn-article {
  border: none;
  background: none;

  margin: 0;

  margin-left: 5px;

  padding-bottom: 20px;
}

/*  */
/***** FOOTER *****/
/*  */

footer {
  width: 100%;
  height: 350px;
  margin-top: 100px;

  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-company {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.about-company-header {
  display: flex;
  align-items: center;

  margin-bottom: 30px;
}

.about-company-info {
  width: 400px;

  color: white;

  font-weight: 300;
}

.about-company-info .footer-des {
  font-size: 18px;
  line-height: 28px;

  margin-bottom: 20px;
}

.about-company-info .copyright {
  font-size: 16px;
}

.about-company-header .logo {
  color: #458ff6;
  background: white;
}

.about-company-header h2 {
  color: white;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.section {
  padding: 0 100px 0 0;
}

.company h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}

.region h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}

.help h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}

.company ul li a {
  text-decoration: none;
  list-style: none;
  color: white;

  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

.company li {
  list-style: none;
}

.region ul li a {
  text-decoration: none;
  list-style: none;
  color: white;

  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

.region li {
  list-style: none;
}

.help a {
  text-decoration: none;
  color: white;

  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

.help li {
  list-style: none;
}

/* MEDIA QUERRIES */

@media only screen and (max-width: 700px) {
  body {
    height: 100%;
    overflow-x: hidden;
    position: relative;
    /* ABSOLUTE */
    /* position: absolute; */
  }

  nav ul {
    width: 100%;
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  .nav-icon {
    display: block;
  }

  .row {
    flex-direction: column-reverse;
    margin: 50px 0;
  }

  .col-2 {
    top: 175px;
    right: 35px;
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .col-1 {
    top: 150px;
    right: 35px;
  }

  .col-1 h2 {
    font-size: 30px;
  }

  button {
    margin-top: -10px;
  }

  .services {
    background-image: none;
  }

  .service-des {
    margin-top: 250px;
    margin-left: 0;
    width: 100%;
  }

  .service-des h2 {
    font-size: 30px;
  }

  .service-des p {
    width: 75%;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
  }

  .service-list {
    flex-direction: column;
  }

  .service-item {
    max-width: 250px;

    width: 250px;
    height: auto;

    margin: 10px 0px;
    padding: 30px;
  }

  .provider .col-1 {
    order: 0;
  }

  .col-2 .provider-img {
    width: 90%;
    padding: 0%;
    margin-top: -150px;
    margin-left: 50px;
  }

  .provider h2 {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .provider p {
    font-size: 15px;
    text-align: justify;
  }

  .app h2 {
    font-size: 25px;
    line-height: 40px;
  }

  .app p {
    font-size: 15px;
    text-align: justify;
  }

  .customer {
    width: 100%;
    height: auto;
    margin: 200px 0 150px 0;
  }

  .customer-head h2 {
    font-size: 20px;
    margin: 30px 0 10px 0;
  }

  .customer-review {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .reviewer-info {
    width: 100%;
  }

  .reviewer-info h3 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
  }

  .reviewer-info h4 {
    text-align: center;
    margin: 0%;
    font-size: 18px;
  }

  .review-content {
    width: 275px;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .articles {
    background-image: none;
  }

  .article-list {
    flex-direction: column;

    margin: 0;
    padding: 0;
  }

  .article-item {
    background-color: white;
    max-width: 300px;

    width: 300px;
    height: auto;
    margin-left: 38px;
  }

  .article-img img {
    width: 100%;
  }

  .article-des h2 {
    font-size: 25px;
    line-height: 25px;
    margin-top: -50px;
  }

  .article-desc h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .article-desc p {
    text-align: justify;
    font-size: 16px;
    line-height: 28px;

    color: #7d7987;
    width: 100%;
    margin-bottom: 20px;
  }

  footer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-company {
    justify-content: center;
  }

  .about-company-header {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about-company-info .footer-des {
    text-align: justify;
    width: 300px;
    font-size: 15px;
    line-height: 25px;

    margin-left: 50px;
    margin-bottom: 20px;
  }

  .about-company-info .copyright {
    font-size: 12px;
    margin-left: 50px;
  }

  .section {
    padding: 0;
    padding-bottom: 200px;
  }

  .company {
    margin-left: -200px;
    margin-top: 50px;
  }

  .region {
    margin-left: -225px;
    margin-top: -175px;
  }

  .help {
    margin-left: -175px;
    margin-top: -175px;
    margin-bottom: 125px;
  }
}
